@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

.class1,
.class2,
.class3 {
    background-color: #209F62;
    width: 100%;
    height: 319px;
    
}

.p1, .p2, .p3 {
    display: flex;
    padding: 123px;
    margin-left: 73px;
    font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}